* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 100%;
    background-color: white;
    padding: 20px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.barra-superior {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
}

#campo-filtro {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;

    /* My code */
    margin-right: 15px;
}

button {
    width: 10%;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    border: none;
    
    cursor: pointer;
}

button:hover {
    background-color: #69b398;
}

button.editar {
    background-color: #ffc107;
    color: white;
}

button.excluir {
    background-color: #dc3545;
    color: white;
}

button.btn-cadastrar {
    background-color: #04AA6D;
    box-shadow: 1px 3px 5px #04AA6D;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.acoes {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.cadastrar-container {
    max-width: 500px;
    background: #fff;
    padding: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grupo-formulario {
    text-align: left;
    margin-bottom: 15px;
}

.grupo-formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.grupo-formulario input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.acoes-formulario {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button.salvar {
    background-color: #28a745;
    color: #fff;
}

button.cancelar {
    background-color: #dc3545;
    color: #fff;
}